
@{
    ViewBag.Title = "Manage";
}

<h2><table><tr><td>Manage</td></tr></table></h2>
<div ng-app="manageApp" class="container">
    <div ng-controller="manageController">
        <div class="container">
            <h3>
            <form role="form">
                <input type="text" ng-model="wsdlUrl" placeholder="Enter WSDL URL here" height="20%"/> <button ng-click="readWsdl()">Load WSDL</button>
            </form>
                </h3>
        </div>

        <form role="form">
            <div ng-repeat="mapping in mappings" class="badge">
                @{ var root = Url.Content("~"); }
                <a href="@root{{ mapping.routeTemplate }}">@root{{ mapping.routeTemplate}}</a>
                
                <table width="100%">
                    <tr>
                        <td>
                        <label>Method</label>
                        </td>
                        <td>
                        <label>Route Template</label>
                        </td>
                        <td>
                            <label>SOAP URL</label>
                        </td>
                        <td>
                            <label>SOAP Action</label>
                        </td>
                        <td>
                            <label>Content Type</label>
                        </td>
                        <td>
                            <button ng-click="deleteItem(mapping)">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control" ng-model="mapping.method" />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="mapping.routeTemplate" />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="mapping.soapUrl" />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="mapping.soapAction " />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="mapping.contentType" />
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td>
                            <label>SOAP Body</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea class="form-control" rows="4" ng-model="mapping.soapBody"></textarea>
                        </td>
                    </tr>
                </table>
                <!--
                <div class="row">
                    <label class="col-md-2">Method</label>
                    <label class="col-md-8">RouteTemplate</label>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="mapping.method" />
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="mapping.routeTemplate" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4">SOAP URL</label>
                    <label class="col-md-4">SOAP Action</label>
                    <label class="col-md-4">SOAP Content-Type</label>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="mapping.soapUrl"/>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="mapping.soapAction " />
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="mapping.contentType" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-12">SOAP BODY</label>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea class="form-control" rows="4" ng-model="mapping.soapBody"></textarea>
                    </div>
                </div>-->

            </div>
            <p>&nbsp;</p>
        </form>
        <div>
            <button ng-click="newMap()">Add new map</button>
            <button ng-click="saveMappings()" class="btn-primary">Save changes</button>
        </div>

        <!-- loading frame-->
        <div style="position:fixed;top:0px;left:0px; width:100%;height:100%;background-color:rgba(50,50,50,0.3)" ng-show="loading">
        </div>
    </div>  
</div>
<script src="~/Scripts/angular.js"></script>
<script>
    // TODO - P2 - get angular bundle working.
    // TODO - P2 - not an inline script, yuk.
    // TODO - P2 - not inline styles too! yuk, yuk!
    var manageApp = angular.module('manageApp', []);
    manageApp.controller('manageController', function ($scope, $http) {

        // initial state
        $scope.loading = true;
        $scope.wsdlUrl = "";

        $http({ method: 'GET', url: '/map' }).
            success(function (data, status, headers, config) {
                $scope.mappings = data;
                $scope.loading = false;
            }).
            error(function (data, status, headers, config) {
                alert(data);
                debugger;
            });

        // actions
        $scope.readWsdl = function () {
            $scope.loading = true;
            $http({
                method: 'POST',
                url: '/map',
                data: { url: $scope.wsdlUrl }
            }).
                success(function (data, status, headers, config) {
                    document.location.reload();
                    $scope.loading = false;
                }).
                error(function (data, status, headers, config) {
                    alert(data);
                    debugger;
                    $scope.loading = false;
                });
            
        }

        $scope.deleteItem = function (model) {
            var i = $scope.mappings.indexOf(model);
            $scope.mappings.splice(i, 1);
            $scope.$apply();
        }


        $scope.newMap = function () {
            $scope.mappings.push({});
        }

        $scope.saveMappings = function () {
            $scope.loading = true;
            $http({ method: 'PUT', url: '/map', data: $scope.mappings }).
            success(function (data, status, headers, config) {
                // a little hacky, but it works
                document.location.reload();
                $scope.loading = false;
            }).
           error(function (data, status, headers, config) {
               alert(data);
               debugger;
           });
        }
    });

</script>
